html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.cont {
    max-width: 1200px;
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper {
    min-width: 250px;
    min-height: 200px;
    border: 2px solid #000;
    position: relative;
}

br {
    color: black;
}

.projFill {
    width: 100%;
    height: 180px;
    background: lightgrey;
    content: "";
    display:flex;
    align-items:center;
    justify-content:center;
}

.innerText {
    margin-top: 1rem;
    display: block;
    font: bold 18px Arial, sans-serif;
}


.innerText {
    background-image: linear-gradient( to right, #54b3d6, #54b3d6 50%, #000 50% );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}


    .innerText:before {
        content: '';
        background: #54b3d6;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }


    .innerText:hover {
        background-position: 0;
    }


        .innerText:hover::before {
            width: 100%;
        }

.nav-menu {
    display: flex;
    flex-direction: column;
}

.menu {
    margin: 2vh 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-li {
    display: inline-block;
    list-style: none;
}


header {
    background-color: #edf762;
}

.main-container {
    background: #b3fc89;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    min-height: calc(95vh - 200px);
}

.container-item {
    background-color: #79ffe2;
    gap: 10px;
    min-width: 15%;
    max-width:20%;
    display: flex;
    flex-direction: column;
}

.column-title {
    max-width: 100%;
    font: 24px bold Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding: 15px;
    background-color: #106b77;
}

.column-tasks {
    height: auto;
    color: #937bff;

}
.task-wrapper {
    width: 100%;
    border: 2px solid #000;
    background: lightblue;
    display:grid;
    place-content:center;
    margin-bottom:10px;
}
.taskFill {
    width: 100%;
    height: 100px;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
}